# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
coverage
*.test.ts
*.spec.ts

# Logs
logs
*.log
